body {
    margin: 0;
    height: 3000px;
    background: linear-gradient(-45deg, #CFCFCF, #555);
    text-align: center;
}
#header {
    height: 180px;
#logo {position: relative;
    top: 20px
  margin: 20px}
}
#navigation{
	background: linear-gradient(-45deg, #CFCFCF, #555);
	height: 40px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	line-height: 40px;
    position: relative;
    top: 140px;
}/*#EF0505*/
#navigation.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(-45deg, #CFCFCF, #555); /*rgba(239, 5, 5, 0.95);*/
}
#navigation ul{
    width: 1180px;
	padding-left: 0;
	margin: 0 auto;
    display: block;
    text-align: center;
}
#menu li{
	display: inline-block;
	list-style: none;
	padding: 0 48px;
	border-right: 1px solid black/*#D60000*/;
  border-left: 1px solid black;
}
#menu a {
    color: #21262b/*#fff;*/;
    text-decoration: none;
    font-family: Verdana;
    font-weight: 100;
}
#menu>li a:hover{
	color: #c4beb7;
	transition: color 0.2s ease;
}
#menu>li a:active{
	color: white;
}
p {font-family: Arial; color: #c4beb7; font-size: 16px; width: 760px; display: block}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px}
iframe {width: 760px; height: 480px}
